

<section id="resumeApp">
		
    <div class="explanation-container">
        
        <div class="explanation">

            <div class="explanation-left">
            
                <img src="~/Images/avatars/noavatar.jpg" class="imagem-activity" />
            
            </div>
        
            <div class="explanation-right">
            
                <p>Texto a descrever o publico alvo da aplicacao</p>
        
            </div>

        </div>

        <div class="explanation2">

            <div class="explanation-left">
            
                <img src="~/Images/avatars/noavatar.jpg" class="imagem-activity" />
            
            </div>
        
            <div class="explanation-right">
            
                <p>Texto a descrever o que a aplicacao deverá fazer</p>
        
            </div>

        </div>

        <div class="explanation">

            <div class="explanation-left">
            
                <img src="~/Images/avatars/noavatar.jpg" class="imagem-activity" />
            
            </div>
        
            <div class="explanation-right">
            
                <p>Texto a dizer mais alguma coisa que agora nao me lembro</p>
        
            </div>

        </div>
    
    </div>

</section>

