@model CollectorsPlace.Models.ListCollections
@{
    ViewBag.Title = "Collections";
}

<div class="home">

    <div class="home-left">

        @Html.Partial("_ProfileLeft", Model.Profile)
    
    </div>

    <div class="wrap-dir">

        <div class="home-direita-bar">

            <p>Tera Anuncios</p>

            <p>Ou Recomendacoes</p>

        </div>

        <div class="home-direita">

            <div class="header-home-direita">

                <p><i class="icon-list"></i>Collections</p>
        
            </div>

            <div class="body-home-direita space">

                <table style="width: 100%;" border="1">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>

                    @foreach (var item in Model.Collections) {
                        <tr>
                            <td>
                                @Html.ActionLink(item.Name, "Collection", "User", new { id=item.CollId }, null)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                        </tr>
                    }

                </table>

            </div>

        </div>

    </div>

</div>
