
<div class="home-direita-bar" style="margin-top:  -18px;">
    
    <p id="pref" style="text-align: right;">
        <img id="refreshrec" src="~/Images/refresh.png" style="width:30px; cursor:pointer;" />
    </p>

    <div id="hmdb"></div>

    <p style="text-align: right">
        <a href="/Home">
            See more...
        </a>
    </p>

</div>

